/node_modules
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env

# Created by https://www.gitignore.io/api/laravel,bower,netbeans


### Laravel ###
/bootstrap/compiled.php
vendor/
node_modules/
Homestead.yaml
Homestead.json
.env.local.php
.env.php
.env
composer.phar
composer.lock


### Bower ###
bower_components
.bower-cache
.bower-registry
.bower-tmp


### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

.sass-cache/

school_of_net/git_e_github/aulagit/*