<!DOCTYPE html>
<html>
    <head>
        <title>My Books</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css" />
    </head>
    <body>
        <div class="container" id="hello">
            <div class="row">
                <h1>{{ msg }}</h1>
                <input type="text" class="form-control" v-model="msg" />
            </div>
            <div class="row">
                <h1>My list</h1>
                <ul>
                    <li v-for="people in peoples" >
                        {{ people.name }}
                    </li>
                </ul>
            </div>
            <div class="row">
                <h1>My list elements</h1>
                <input type="text" class="form-control" v-model="newElement" v-on:keyup.enter="addElement" />
                <ul>
                    <li v-for="element in elements" >
                        {{ element.title }}
                        <a href="#" v-on:click="removeElement($event, $index)" class="btn btn-danger">X</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <h1>v-on</h1>
                <button class="btn btn-default" v-on:click="myClick">Click</button>
                <button class="btn btn-default" @click="myClick">@Click</button>
                <input type="text" @keyup="myKeyUp" placeholder="myKeyUp" />
                <input type="text" @keyup.enter="myKeyUp" placeholder="myKeyUp.enter" />
                <input type="text" @keyup.13="myKeyUp" placeholder="myKeyUp.13" />
            </div>
        </div>

        <script src="node_modules/vue/dist/vue.js"></script>
        <script src="node_modules/vue-resource/dist/vue-resource.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>
